*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    color: var(--hometxt-color);
}

:root{
    --hometxt-color: #e4e4e4;
    --input-txt-color: black;
}

input{
    color: var(--input-txt-color);
}

body{
    background-color: #1e222c;
}

#logo{
    text-decoration: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
}
li > a:hover{
    color: #83a9dc;
    text-decoration: underline;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8)
}

/*nav ul li a:hover{*/
/*    transform: scale(3);*/
/*}*/

.bg-container{
    background-image: url("../images/fireworks.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    min-height: 750px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 3rem;
    padding: 0 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}



ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}