<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <script src="/js/create_event.js"></script>

</head>
<body>
    <div>
        <header>
            <div>
                <p>Gather</p>
                <p>Exclusive</p>
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/create}">create</a></li>
                    <li><a th:href="@{/dashboard}">dashboard</a></li>
<!--                    <li><a href="">profile</a></li>-->
                    <li>
                        <a th:if="${#authentication.authenticated}" href="">profile</a>
                        <a th:unless="${#authentication.authenticated}" th:href="@{/register}">sign up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div>
            <h1>Create Event</h1>
            <div th:if="${#authentication.authenticated}">
                <p th:text="${#authentication.principal.username}"></p>

            </div>
            <div>
                <form method="post" role="form" th:action="@{/newEvent/save}" th:object="${event}">
                    <div>
                        <label for="event_name">Event Name: </label>
                        <input type="text" id="event_name" name="event_name" placeholder="Event Name" th:field="*{eventName}">
                        <p th:errors="*{eventName}" th:if="${#fields.hasErrors('eventName')}"></p>
                    </div>
                    <div>
                        <label for="event_type">Event Type: </label>
                        <input type="text" id="event_type" name="event_type" placeholder="party" th:field="*{eventType}">
                        <p th:errors="*{eventType}" th:if="${#fields.hasErrors('eventType')}"></p>
                    </div>
                    <div>
                        <label for="date_time">When: </label>
                        <input type="datetime-local" id="date_time" name="date_time" th:field="*{eventTime}">
                        <p th:errors="*{eventTime}" th:if="${#fields.hasErrors('eventTime')}"></p>
                    </div>
                    <div>
                        <label for="location">Where: </label>
                        <input type="text" id="location" name="location" placeholder="ABC Street" th:field="*{eventLocation}">
                        <p th:errors="*{eventLocation}" th:if="${#fields.hasErrors('eventLocation')}"></p>
                    </div>
                    <div>
                        <label for="desc">Description: </label>
                        <input type="text" id="desc" name="desc" placeholder="Let loose and have fun!" th:field="*{eventDescription}">
                        <p th:errors="*{eventDescription}" th:if="${#fields.hasErrors('eventDescription')}"></p>
                    </div>
                    <div>
                        <label for="invites">Invite List</label>
                        <textarea id="invites" name="invites" placeholder="user@gmail.com, anotherUser@gmail.com" th:field="*{invites}"></textarea>
                        <p th:errors="*{invites}" th:if="${#fields.hasErrors('invites')}"></p>
                    </div>
                    <div>
                        <h2>Potluck</h2>
                        <div id="potluck_list" >
                            <div th:each="item, iterStat: ${event.potluckItems}">
                                <label th:for="potluck${iterStat.index}" th:text="Item ${iterStat.count}"></label>
                                <input type="text" th:id="potluck${iterStat.index}" placeholder="soda" th:field="*{potluckItems[${iterStat.index}].itemName}">
                                <label th:for="quantity${iterStat.index}">Quantity: </label>
                                <input type="number" min="0" th:id="quantity${iterStat.index}" th:field="*{potluckItems[${iterStat.index}].quantity}">
                            </div>
                        </div>
                        <button type="button" onclick="addPotluckItem()">Add Another Item</button>
                    </div>
                    <div>
                        <button type="submit">create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>