<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gather Exclusive</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="bg-container">
        <header>
            <div>
                <p>Gather</p>
                <p>Exclusive</p>
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/create}">create</a></li>
                    <li><a th:href="@{/dashboard}">dashboard</a></li>
                    <li><a href="">profile</a></li>
                    <li><a th:href="@{/register}">sign up</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Craft Unforgettable Moments</h1>
            <button id="plan-btn">Plan</button>
        </main>
    </div>

</body>
</html>