<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:if="${param.success}">Registered Successfully</div>
        <div>
            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                <div>
                    <label for="email">Email: </label>
                    <input type="text" id="email" name="email" placeholder="Email" th:field="*{email}"/>
                    <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <div>
                    <label for="username">Name: </label>
                    <input type="text" id="username" name="username" placeholder="Name" th:field="*{name}"/>
                    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" placeholder="Password" th:field="*{password}"/>
                    <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <div>
                    <button type="submit">Register</button>
                    <span>Already registered?</span>
                    <a th:href="@{/login}">Login Here</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>